<%- include("partials/header"); %>

<h2>Would you like to delete the selected parameter?</h2>

<form action="/" method="GET"> 

    <button type="submit" class="btn btn-primary">Delete</button>
  </form>


<%- include("partials/footer"); %>