<%- include("partials/header"); %>

<div class="=row">
    <% for(i in homeDirectory){ %>
       <% var temp = homeDirectory.directory %>
        <% for( var j = 0; j < temp.length; j++) { %>
            
    <div class="col mb-4 ">    
        
        <div class="card">
            
          <div class="card-body">
            <p class="card-text"> Name:  <%= temp[j].name %> </p>
            <p class="card-text"> Unique ID: <%= temp[j].id %> </p>
            
          </div>
          
        
           
        </div>
    </div>  
        <% } %>  
        <% break %>
    <% } %>
</div>




<%- include("partials/footer"); %>
<!-- .directory[i].name -->