<!DOCTYPE html>
<html>
    <head>
        <title>Project Information</title>
    </head>
    <body>
        <h1>Docker Project</h1>
        <h3> Hello! In this project we will be making it easier for our client
            Sweep Energy to monitor devices for their clients
        </h3>
    </body>
</html>