<%- include("partials/header"); %>


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="style.css">
  <script defer src="login.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <!-- <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div> -->
    
    <form id="login-form" action="/verification_check" method="POST">
      <div class="mb-3">
        <label for="exampleDropdownFormEmail" class="form-label">Username</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail" placeholder="Username" name="email">
      </div>
      <div class="mb-3">
        <label for="exampleDropdownFormPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword" placeholder="Password" name="password">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-sm btn-outline-secondary">Sign in</button>
      </div>
      <div class="mb-3">
        <!-- <button type="submit" class="btn btn-primary"> -->

          <!-- <a href="/newAccount" class="btn btn-sm btn-outline-secondary" id="newAccountBtn" >Create New Account</a> -->
        <!-- </button> -->
        <a href="https://app.facility-ops.com/login" class="btn btn-sm btn-outline-secondary" id="newAccountBtn" >Create New Account</a>
      </div>

    </form>
  
  </main>
</body>


<%- include("partials/footer"); %>