<%- include("partials/header"); %>


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="style.css">
  <script defer src="login.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="newAccount-header">Create New Account</h1>
    
    <!-- <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div> -->
    
    <form id="login-form">
      <div class="mb-3">
        <label for="exampleDropdownFormEmail" class="form-label">Username</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail" placeholder="Username">
      </div>
      <div class="mb-3">
        <label for="exampleDropdownFormPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword" placeholder="Password">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create My Account</button>
      </div>
      

    </form>
  
  </main>
</body>


<%- include("partials/footer"); %>