<%- include("partials/header"); %>


<h1>Enter an API unique ID to search</h1>


<form action="/test" method="GET"> 
    <div class="mb-3">
<!-- <<<<<<< HEAD
     <label for="exampleInputEmail1" class="form-label">Email address</label>
=======
      <label for="exampleInputEmail1" class="form-floating">Email address</label>
>>>>>>> a05e4f5b748decb503f4e499123b81d94226d6f8-->
      <!--<input type="email" class="form-control" name="searchterm">-->
      <label for="exampleDropdownFormEmail" class="form-floating">Email address</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail" placeholder="Email address" name="email">
      </input>
     
    </div>
    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

<%- include("partials/footer"); %>

<!-- https://api.sweepapi.com/account/auth/api_key/{{api_key_id}} -->