<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <center>
        Setup your sweep api auth here. <%=url%> <br/>
        
    </center>
</body>
</html> 