
#CreateNewStreamBtn{
    background-color: blueviolet;
    color:white;
    font-weight: bold;
}

#CreateNewDirectoryBtn{
  background-color: blueviolet;
  color:white;
  font-weight: bold;
}

#login-header{
    /*color:rgba(21, 241, 230, 0.808);*/
    color: blueviolet;
    font-weight: bold;
}

#newAccount-header{
  /*color:rgba(21, 241, 230, 0.808);*/
  color: blueviolet;
  font-weight: bold;
  
}


#ExitUIBtn{
    background-color: #6610f2;
    color:white;
    font-weight: bold;
}

#searchBtn{
  background-color: blueviolet;
  color:white;
  font-weight: bold;
}

#newAccountBtn{
    background-color: #6a008a;
    color:white;
    font-weight: bold;
}

/* #deleteParameterBtn{
    background-color: rgb(212, 48, 19);
    color:white;
    font-weight: bold;
} */
a.badge{
  color:rgb(175, 2, 2);
}

body{
  background-color:   #000000;
  /* background-image: linear-gradient(black, #707070);  */
  /* background-image: linear-gradient(to bottom right, rgb(143, 6, 255), rgb(205, 145, 255));  */ 
  /* background-image: linear-gradient(to bottom right, #892CDC, #BC6FF1) */
} 


div.card-body{
  background-color: rgb(235, 211, 255);

}  

div.table-responsive{
  /* background-color: #2b2a2a; */
  border-radius: 5%;
  /* background-image: #19191c; */
  background-color: rgb(60, 59, 59);
}

th, td{
  color: rgb(196, 196, 196);
}

table, tr {
  border: 1px inset black;
  border-collapse: collapse;
  border-spacing: 0;
}

a.nav-link{
  color:white;
}

nav.navbar{
  background-image: linear-gradient(to bottom right,#3ca372,#3fae7b); 
}

div.position-sticky{
  background-image: linear-gradient(to bottom right, #3ca372,#3fae7b); 
}

.btn{
  background-color:#81219e;
    color:white;
    font-weight: bold;
}
#streamData-id{
  text-align: center;
}

/* Link used for the switch css: https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
