
#CreateNewStreamBtn{
    background-color: rgb(0, 100, 45);
    color:white;
    font-weight: bold;
}

#CreateNewDirectoryBtn{
  background-color: rgb(0, 100, 45);
  color:white;
  font-weight: bold;
}

#login-header{
    /*color:rgba(21, 241, 230, 0.808);*/
    color: white;
    font-weight: bold;
}

#newAccount-header{
  /*color:rgba(21, 241, 230, 0.808);*/
  color: white;
  font-weight: bold;
  
}


#ExitUIBtn{
    background-color: rgb(0, 100, 45);
    color:white;
    font-weight: bold;
}

#searchBtn{
  background-color: rgb(0, 100, 45);
  color:white;
  font-weight: bold;
}

#newAccountBtn{
    background-color: rgb(0, 100, 45);
    color:white;
    font-weight: bold;
}

#deleteParameterBtn{
    background-color: rgb(212, 48, 19);
    color:white;
    font-weight: bold;
} 

#addDataBtn{
    background-color: rgb(0, 100, 45);
    color:white;
    font-weight: bold;
}

h1, h2{
  color:white;
}
h2{
  margin-left: 20px;
  padding-top: 20px;
}

main.col-md-9{
 color: white;
}

a.badge{
  color:rgb(175, 2, 2);
}

body{
  background-color:   #000000;
} 

label{
  color: white;
  font-size: large;
}

label.form-label{
  color: white;
}
div.card-body{
  color: black;

}  

button.btn{
  color: white;
}

button.btn.btn-outline-danger{
  background-color: red;
}


div.table-responsive{
  /* background-color: #2b2a2a; */
  border-radius: 20px 20px;
  /* background-image: #19191c; */
  background-color: rgb(60, 59, 59);
}

th, td{
  color: rgb(196, 196, 196);
}

table, tr {
  border: 1px inset black;
  border-collapse: collapse;
  border-spacing: 0;
}

a.nav-link{
  color:white;
  font-size: 20px;
}

a.navbar-brand{
  font-size: 30px;
}

nav.navbar{
  background-image: linear-gradient(to bottom right,#3ca372,#7be8b5); 
  border-radius: 20px 20px;
}

div.position-sticky{
  background-image: linear-gradient(to bottom right, #3ca372,#3fae7b); 
  border-radius: 20px 20px;
  /* margin-left: 0px; */
  /* padding-top: 10px; */
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.btn{
  background-color:rgb(0, 100, 45);
    /* color:white; */
    /* font-weight: bold; */
}
#streamData-id{
  text-align: center;
}
